<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd

		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.yang.shop" />
    <import resource="classpath:spring/applicationContext-Db.xml" />
    <import resource="classpath:spring/applicationContext-Bean.xml" />
    <!--<import resource="classpath:spring/applicationContext-Shiro.xml" />-->
    <!--<bean class="com.lifeasbook.framework.exception.ExceptionHandlerFactory">
        <property name="handlerList">
            <map>
                <entry key="com.pricegine.dataepoch.framework.exception.BussinessException" >
                   <bean class="com.lifeasbook.framework.exception.BussinessExceptionHandler"/>
                </entry>
            </map>
        </property>
    </bean>
    <bean id="handlerExceptionResolver" class="com.lifeasbook.framework.exception.MyExceptionHandler">
    </bean>-->

</beans>