<?xml version="1.0" encoding="utf-8"?>

<menus>
    <!--<menu  text="会员管理" perm="member" iconCls="glyphicon glyphicon-user">
        <menu text="会员列表"  perm="member:user" path="/member/index"  />
    </menu>
    <menu  text="门店管理" perm="shopManager" iconCls="glyphicon glyphicon-shopping-cart">
        <menu text="店铺管理"  perm="shopManager:shop" path="/shop/index"  />
        <menu text="货柜管理"  perm="shopManager:container" path="/container/index"  />
    </menu>
    <menu  text="商品管理" perm="product" iconCls="glyphicon glyphicon-th-list">
        <menu text="分类管理"  perm="product:type" path="/type/index"  />
    </menu>
    <menu  text="海报管理" perm="posterManger" iconCls="glyphicon glyphicon-list-alt">
        <menu text="海报列表"  perm="posterManger:poster" path="/poster/index"  />
    </menu>-->
    <!--menu  text="优惠券管理" perm="couponManager" iconCls="glyphicon glyphicon-shopping-cart">
        <menu text="优惠券列表"  perm="couponManager:coupon" path="/coupon/index"  />
    </menu-->

    <menu  text="系统管理" perm="sys" iconCls="glyphicon glyphicon-cog">
        <menu text="用户管理"  perm="sys:user" path="/user/index"  />
        <menu text="角色管理"  perm="sys:role" path="/role/index"  />
        <menu text="App版本管理"  perm="sys:version" path="/version/index"  />
        <menu text="广告管理"  perm="sys:advert" path="/advert/index"  />
    </menu>
</menus>